.navigation-bar{
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__link{
    margin-left: 5px;

    &__logo{
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 10px;
      border: solid 1px #000;

      &:hover{
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        background-color: #e3eaf1;
      }
    }
  }
}
